.banner{
  padding: 40px 0;

  .imgc{
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;

    &:hover img{
      transform: scale(1.1);
    }

    img{
      width: 100%;
      transition: all .4s;
    }
    a{
      position: absolute;
      bottom: 20px;
      width: 180px;
      height: 46px;
      background-color: rgba(255,255,255,.95);
      font-size: 16px;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .4s;
      left: 25%;

      &:hover{
        background-color: #e65540;
        color: #fff;
      }
    }
    .imgt{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      h4{
        max-width: 294px!important;
        font-size: 30px;
        color: #111;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 8px;
      }

      p{
        max-width: 257px;
        text-align: center;
        font-size: 15px;
        line-height: 1.7;
        color: #888;
      }

      .btn{
        position: relative!important;
        background-color: #333!important;
        color: #fff!important;
        border-radius: 25px;
        margin-top: 25px;
        bottom: unset;
        left: unset;

        &:hover{
          background-color: #e65540!important;
          color: #fff;
        }
      }
    }
  }
}
.col-lg-4{
  margin-right: auto;
  margin-left: auto;
}