.footer{
    background-color: #f0f0f0;
    padding: 45px 45px 10px 45px;

    h4{
        padding-bottom: 30px;
        font-size: 15px;
        line-height: 1.5;
        padding-top: 15px;
        color: #222;
        font-weight: 700;
    }

    p{
        font-size: 13px;
        line-height: 1.7;
        color: #777;
        padding-bottom: 30px;
    }


    input{
        border: none;
        outline: none;
        background-color: #f0f0f0;
        border-bottom: 1px solid #7a7a7a57;
        padding: 7px 1px;
        font-size: 13px;
        margin-bottom: 20px;
        width: 100%;
        transition: all .6s;
        &:focus{
            border: none;
            border-bottom: 1px solid #e65540;
        }
    }

    button{
        margin: 0 auto;
        width: 70%;
        background-color: #000;
        padding: 10px;
        color: #fff;
        border-radius: 25px;
        transition: .6s;
        font-weight: 400;
        display: block;
        position: absolute;
        top: 160px;
        right: 20px;
        left: -1px;
        border: none;
        &:hover{
            background-color: #e65540;
        }
    }

    .paying{
        margin-top: 100px;

        .link{
            img{
                width: 30px;
                height: 22px;
                margin-right: 3px;
                border: 1px solid #0000003a;
                margin-bottom: 20px;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        p{
            font-size: 13px;
            line-height: 1.8;
            color: #888;
        }
    }
}
.social{
    i{
        color: #888;
        padding-right: 20px;
        transition: all 0.4s;
        cursor: pointer;

            &:hover{
                color: #e65540;
            }
    }
}
.col-12{
    li{
        padding-bottom: 9px;
        a{
            color: #777;
            transition: all 0.4s;
            font-size: 13px;
            line-height: 1.8;
            font-weight: 400;
            &:hover{
                color: #e65540;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        margin: 0;
        padding: 0;
    }
}